<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PranjaliApp</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

  <nav class="navbar bg-info fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img class="brand-icon" src="/static/Brand-icon.png" alt="Brand Icon">Pranjali Growcap Pvt. Ltd.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-info" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">PranjaliApp</h5>
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team Todo</a>
              <a class="nav-link" href="#">Team Chat</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Trades
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeyO_Dmfxxv9H09w5kMTsN8ckXC8icu1WlWLCzJPaF8"
                    target="_blank">Trades 1 <span class="dropdown-sidetext">( BT Sheet )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeVc3AIAi8maDa6OKmsESihXe9YK8olUiA0opEVPoYo"
                    target="_blank">Trades 2 <span class="dropdown-sidetext">( XTS-1 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1dqpixrqD48UriM5YiO_Euxu2cYMe_GcbT3_rtEfeRnQ"
                    target="_blank">Trades 3 <span class="dropdown-sidetext">( XTS-2 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1PWzvQviX2SGxICzOrUqD8Ux7zecLH1D3Cnkp5Qsr18A"
                    target="_blank">Trades 4 <span class="dropdown-sidetext">( XTS-3 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1J-0MX-Ks0S7JJJbDF82aqzttz_fWxxvgc4geDyOIlww"
                    target="_blank">Trades 5 <span class="dropdown-sidetext">( XTS-4 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeyO_Dmfxxv9H09w5kMTsN8ckXC8icu1WlWLCzJPaF8"
                    target="_blank">Trades 6 <span class="dropdown-sidetext">( XTS-5 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeyO_Dmfxxv9H09w5kMTsN8ckXC8icu1WlWLCzJPaF8"
                    target="_blank">Trades 7 <span class="dropdown-sidetext">( XTS-6 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeyO_Dmfxxv9H09w5kMTsN8ckXC8icu1WlWLCzJPaF8"
                    target="_blank">Trades 8 <span class="dropdown-sidetext">( XTS-7 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeyO_Dmfxxv9H09w5kMTsN8ckXC8icu1WlWLCzJPaF8"
                    target="_blank">Trades 9 <span class="dropdown-sidetext">( XTS-8 )</span></a></li>
                <li><a class="dropdown-item"
                    href="https://docs.google.com/spreadsheets/d/1BeyO_Dmfxxv9H09w5kMTsN8ckXC8icu1WlWLCzJPaF8"
                    target="_blank">Trades 10 <span class="dropdown-sidetext">( XTS-9 )</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>







</body>

</html>